@font-face {
  font-family: 'brct-ws';
  src:  url('fonts/brct-ws-v1.eot?1y3w7x');
  src:  url('fonts/brct-ws-v1.eot?1y3w7x#iefix') format('embedded-opentype'),
    url('fonts/brct-ws-v1.ttf?1y3w7x') format('truetype'),
    url('fonts/brct-ws-v1.woff?1y3w7x') format('woff'),
    url('fonts/brct-ws.svg?1y3w7x#brct-ws') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="brct-"], [class*=" brct-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brct-ws' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brct-mail-syh:before {
  content: "\e900";
}
.brct-ofis-syh:before {
  content: "\e903";
}
.brct-destek-syh:before {
  content: "\e910";
}
.brct-telefon-syh:before {
  content: "\e942";
}
.brct-adres-syh:before {
  content: "\e947";
}
.brct-mobil-syh:before {
  content: "\e958";
}
.brct-whatsapp-byz:before {
  content: "\ea93";
}
